*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: grey;

}
nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 1rem;

}

ul{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 5 rem;
}
.nav-list{
    text-decoration: none;
    list-style-type: none;
    
}
